@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
  }

body{
    height: 100vh;
    overflow-x: hidden;
    color: #e3e3e3;
    background-color: #303030;
    scroll-behavior: smooth;
}

/* TODO: Scroll animation */
.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
  
  .js-scroll.scrolled {
    opacity: 1;
  }
.scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
  }
  .scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
  }
  .scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
  }
  .scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
  }
  @keyframes slide-in-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .write {
    overflow: hidden;
    border-right: 2px solid transparent;
    width: auto;
    padding: 10px 30px; 
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word; 
    position: relative; 
  }

  .write::after {
    content: "|";
    position: absolute;
    animation: blink-carets 1s infinite;
    color: #e3e3e3;
  }

.typing {
    display: inline-block;
    border-right: 2px solid transparent;
}

.typing-effect {
    animation: typing 1s steps(20, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-carets {
    0%,
    100% {
      opacity: 1;
    } /* Fully visible caret at the start and end of the animation */
    50% {
      opacity: 0;
    } /* Invisible caret at the middle of the animation */
  }

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #e3e3e3;
    }
}


.content{
    display: none;
    overflow: hidden;
}

.loader{
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    color: #e3e3e3;
    background-color: black;
}
