@font-face {
  font-family: font;
  src: url(../src/font.TTF);
}

section {
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}




.wrapper {
    height: 0;
  display: grid;
  place-items: center;
  padding-bottom: 100px;
}

.typing-demo {
  margin-top: 10px;
  width: 22ch;
  animation: typing 4s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.model3d{
/* background-image: url(../logo.png); */
background-color: #fff;

    
}

.col .card{
  width: 18rem;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
	transform-style: preserve-3d;
}

.profile-pics{
	position: absolute;
	top: 30%;
	left: 50%;
  transform: translateZ(50px) scaleY(1);
	transform: translate3d(-50%, -50%, 20px) scale(1);
	max-width: 175px;
	transition: 0.5s;
	z-index: 100;
	border-radius: 15px;
}