mark {
  background-color: #feb252;
  border-radius: 1px;
}

.marks {
  color: #feb252;
}

.typewrite1 {
  font-family: monospace;
  font-size: 20px;
  line-height: 1.2;
  margin: 0 auto;
  margin-left: -10px;
}

.typewrite1 h5 {
  color: #e3e3e3;
}

.typewrite1::-webkit-scrollbar {
  display: none;
}

.typewrite3 {
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (max-width: 768px) {
  .typewrite1 {
  font-size: 10px;
}
}