@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

body {
  color: aliceblue;
    overflow-x: hidden;
}

.justified-text {
  text-align: justify;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome-section {
  background-color: transparent;
  color: inherit;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#ascii-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
    align-items: center;
}
.nama {
  line-height: 1;
  margin: 0 auto;
  font-weight: bold;
  overflow: hidden;
}
section:not(.welcome-section) {
  background-color: #232627;
  color: aliceblue;
}
.certification-section {
  background-color: #232627;
  color: aliceblue;
}
sections {
  display: flex;
  flex-direction: column;
    text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* About */
.about .about-card {
  background-color: #343a40;
  width: 18rem;
    height: 24rem;
    border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      display: flex;
        transform-style: preserve-3d;
}
.about .about-card img {
  position: absolute;
  width: 80%;
    margin: 10px;
    border-radius: 8px;
    transform: translateZ(10px);
    transition: width 0.3s ease;
  }
.about .about-card:hover img {
  width: 50%;
  /* margin: 10px;
              height: auto;
              border-radius: 8px; */
}
.about .about-card marquee {
  position: absolute;
  bottom: 180px;
    left: 85px;
    width: 356px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #0d6efd;
    background-color: white;
    border-radius: 6px;
    rotate: calc(-90deg);
  transform: translateZ(10px);
}
.about .about-card .button-1 {
  position: absolute;
    bottom: 30px;
      left: 10px;
      width: 80%;
      font-size: 1rem;
      font-weight: bold;
      color: white;
      background-color: #0d6efd;
        border-radius: 6px;
        transform: translateZ(10px);
}
.about .about-card .button-2 {
  position: absolute;
    bottom: 0px;
      left: 10px;
      width: 80%;
      font-size: 1rem;
      font-weight: bold;
      color: white;
      background-color: #0d6efd;
      border-radius: 6px;
      transform: translateZ(10px);
}

/* Skills */
.skills .skill-card {
  background-color: #0d6efd;
  width: 80%;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

/* Certification */
.certification {
  width: 100%;
  margin: 0 auto;
}
.certification .swiper {
  width: 100%;
  background-color: transparent;
}
.certification .swiper img {
  filter: grayscale(1);
  transition: filter 0.5s ease;
}
.certification .swiper img:hover {
  filter: grayscale(0);
}
.swiper-slide.certificate-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.swiper-slide.certificate-img img {
  max-height: 90%;
  max-width: 90%;
  width: auto;
  height: 100%;
  object-fit: contain;
}

.footer-container {
  background: #0d6efd;
  color: aliceblue;
}